html, body {
	background: #163825;
}

h1 {
	text-align: center;
	color: #fff;
}

.game {
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15vw;
	background: #fff;
}

.tic-tac-box {
	 height: 94px;
    float: left;
    width: 94px;
    border: black solid;
}
