html, body {
	background: #163825;
}

h1 {
	text-align: center;
	color: #fff;
}

.game {
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
    margin-top: 3vw;
	background: #fff;
}

.tic-tac-box {
	height: 82px;
    float: left;
    width: 78px;
    border: black solid;
    font-size: 5em;
    padding-top: 12px;
    padding-left: 16px;
    cursor: pointer;
}

.scores {
	display: flex;
    margin-top: 2vw;
    justify-content: center;
}

.players{
	margin-left: 178px;
    margin-right: 140px;
    color: #fff;
    font-size: 1.5em;
}

.choose {
	display: flex;
	justify-content: center;
	margin-top: 3vw;
	font-size: 15px;
	color: #fff;
}

.choose-text {
	margin-top: 5vw;
}

.choose p {
	font-size: 18px;
}

p  {
	text-align: center;
	font-size: 22px;
	color: #fff;
}

input[type=radio] {
	margin-left: 5px;
	margin-right: 5px;
}
